*{
    font-family: '_Montserrat Light';
    color: #1F1F1F;
    backface-visibility: hidden;
}
*::selection{
    background-color: #0000001F;
    mix-blend-mode: multiply;
}
@font-face{
    font-family: '_Montserrat Light';
    src:url("../resource/fonts/Montserrat-Light.otf");
}
@font-face{
    font-family: '_Montserrat Thin';
    src:url("../resource/fonts/Montserrat-Thin.otf");
}
#body{
    background-color: #fffef7;
}
#sideMenu{
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 350px;
    background-color: white;
    box-shadow: #0000003f 0px 0px 50px 25px;
    overflow: hidden;
}
#sideMenu_top{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 217px;
    user-select: none;
}
#sideMenu_topMask{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #0000007f;
    background-image: url("../resource/images/mask.png");
    opacity: 33%;
}
#sideMenu_image{
    border-bottom: 1px solid #0000003f;
}
#sideMenu_picture{
    position: absolute;
    left: 20px;
    bottom: 60px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: #0000007f 0px 0px 20px 0px;
    transition: 0.15s;
    user-select: none;
}
#sideMenu_picture:hover{
    left: 15px;
    bottom: 55px;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    box-shadow: #000000 0px 0px 20px 0px;
}
#sideMenu_picture:active{
    box-shadow: #ffffff 0px 0px 20px 0px;
}
#sideMenu_name{
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-family: '_Montserrat Light';
    font-size: 36px;
    color: white;
    text-shadow: 0px 0px 5px #000000 ;
    user-select: none;
}
#sideMenu_menu{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 217px;
}
.sideMenu_elements{
    height: 60px;
    font-family: '_Montserrat Light';
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    /*border-bottom: 1px solid #0000003F;*/
}
.sideMenu_ele_bg{
    position: relative;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 2px;
    background-color: #efefef;
    transition: 0.4s;
    z-index: 1;
}
.sideMenu_elements:hover .sideMenu_ele_bg{
    width: 350px;
}
.sideMenu_elements:active .sideMenu_ele_bg{
    background-color: #FFDFDF;
}
.sideMenu_ele_text{
    position: relative;
    left: 50px;
    top: 15px;
    width: 300px;
    color: #3f3f3f;
    text-shadow: 0px 0px 6px #0000007F ;
}
#content{
    position: absolute;
    left: 450px;
    top: 50px;
    right: 100px;
}
#content_end{
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 50px;
    font-family: '_Montserrat Light';
    font-size: 24px;
    text-align: center;
    color: #0000005f;
}
.postbox{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    left: 0px;
    right: 0px;
    height: 200px;
    border-bottom: 1px #bfbfbf solid;
    overflow: hidden;
}
.postbox_anim{
    position: relative;
    width: 1px;
    height: 200px;
    left: -10px;
    top: -200px;
    background-color: #3b7261;
    box-shadow: #3b72613f 0px 0px 20px 10px;
    transition: 0.15s;
    transition-timing-function: cubic-bezier(0.5,0.7,0.5,1);
    /*mix-blend-mode: multiply;*/
}
.postbox:hover .postbox_anim{
    width: 10px;
    background-color: #3b7261;
}
.postbox_title{
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    color: #3b7261;
    height: 60px;
    text-shadow: 0px 0px 5px #0000003f;
    transition: 0.05s;
    cursor: pointer;
    user-select: none;
    font-style: normal;
}
.postbox_title:hover
{
    color: #4b9271;
    text-shadow: 0px 0px 5px #6bb291ff;
}
.postbox_content{
    margin-left: 30px;
    padding-left: 20px;
    font-size: 18px;
    color: #7f7f7f;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}
.postbox_tag{
    position: relative;
    right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    background-color: #00000007;
    height: 16px;
    width: 100%;
}
.postbox_tag_date{
    position: absolute;
    color: #7f7f7f;
    left: 30px;
    top: 12px;
    height: 28px;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.postbox_tag_tags{
    position: absolute;

    left: 200px;
    height: 28px;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 28px;
    width: 300px;
}
.postbox_tag_t{
    color: #3b7261;
    height: 28px;
    transition: 0.05s;
    margin-right: 5px;
    cursor: pointer;
}
.postbox_tag_t:hover{
    color: #41c199;
    height: 28px;
}
#font{
    mix-blend-mode: multiply;
}